// Fonts

// @css {
// 	@font-face {
// 		font-family: 'font';
// 		src: url('font.eot'); /* IE9 Compat Modes */
// 		src: url('font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 		     url('font.woff') format('woff'), /* Modern Browsers */
// 		     url('font.ttf')  format('truetype'), /* Safari, Android, iOS */
// 		     url('font.svg#49e4d28cacad170f0b2b39ec14ac018a') format('svg'); /* Legacy iOS */

// 		font-style:   normal;
// 		font-weight:  200;
// 	}