// Helper classes

.is-hidden
	display none

.is-invisible
	opacity 0

.is-visible
	opacity 1

.is-offscreen
	position absolute
	top -9999em
	left -9999em
	height 0
	width 0
	overflow hidden

clearfix()
 *zoom:1
	&:before,
	&:after
		content:""
		display:table
	&:after
		clear:both