// Media queries

media-xxl = "screen and (min-width: 1400px)"
media-xl = "screen and (min-width: 1200px)"
media-lg = "screen and (min-width: 1024px)"
media-md = "screen and (min-width: 768px)"
media-sm = "screen and (min-width : 620px)"
media-xs = "screen and (min-width : 320px)"
media-xxs = "screen and (max-width : 319px)"

media-retina = "screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"