// ResponsiveJS class with media queries

.temp-responsivejs
	width 0px
	position absolute
	top -9999px
	left -9999px
	height 1px
	overflow hidden

	@media media-xxs
		width 1px

	@media media-xs
		width 2px

	@media media-sm
		width 3px

	@media media-md
		width 4px

	@media media-lg
		width 5px

	@media media-xl
		width 6px

	@media media-xxl
		width 7px